<%# Needs file object with name and type%>
<% id = ("file_" + file[:name].to_s).gsub(/\s+/, "")%>
<a class='file' id='<%= id%>' data-path='<%= file[:path]%>' href="<%= file[:url]%>">
  <p>
  <i class='icon-file'></i><%= file[:name]%>
  </p>
</a>


