
<div id="header">
  <!--- 
  <hr />
    Space for banner 
	<hr />
  -->	
 
  <!-- Render login header -->
  <%= render :partial => "shared/header_login"%>
</div>

  <!-- footer rendered separately - look at views/layouts/_myfooter.html.erb -->

