<% content_for :title, "Trust value for seller" %>

<div class="row">
  <div class="content-card"> 
    <p> 
      The updated trust score is <%= @updated_trust_score%> for transaction code <%= @listing.randomized_id%>
    </p>
  </div>
</div>
