<div class="navbar navbar-fixed-bottom">
  <div class="navbar-inner">
    <div class="container">
      <!--
      <a href="#">About</a> &nbsp; | &nbsp;
      <a href="#">Contact Us</a>
      -->
    </div>
  </div>
</div>
